<div>
<a routerLink="/home" routerLinkActive="cool">בית</a>
<a routerLink="/about" routerLinkActive="cool">אודות</a>
<a routerLink="/discounts" routerLinkActive="cool">הנחות</a>
<a routerLink="/shoes" routerLinkActive="cool">נעליים לי ימי השבוע</a>
<a routerLink="/video" routerLinkActive="cool">סרטון</a>
<a routerLink="/stories" routerLinkActive="cool">ספורי הצלחה</a>
<a routerLink="/input" routerLinkActive="cool">...קסם</a>
<a routerLink="/listing" routerLinkActive="cool">מוצרים</a>
<a routerLink="/add" routerLinkActive="cool">הוספת מוצר</a>

</div>